.button{
  display: block;
  padding: 8px;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  background-color: $theme-color;
  font-size: $font-size_l;
  color: $theme-color_third;
  @include mq-high(){
    width: 50%;
  }
}