.nav-trigger{
  position: relative;
  height: 24px;
  width: 32px;
  z-index: 3;
  display: none;
  @include mq-low(md){
    display: block;
  }
}
.nav-trigger__bar{
  display: block;
  position: absolute;
  height: 4px;
  border-radius: 4px;
  width: 100%;
  background-color: $theme-color;
  transition: translateY, rotate, opacity, .5s;
  &:nth-of-type(1){
    top: 0;
  }
  &:nth-of-type(2){
    top: 10px;
  }
  &:nth-of-type(3){
    bottom: 0;
  }
  &.active{
    &:nth-of-type(1){
      transform: translateY(10px) rotate(-45deg);
    }
    &:nth-of-type(2){
      opacity: 0;
    }
    &:nth-of-type(3){
      transform: translateY(-10px) rotate(45deg);
    }
  }
}
