html{
  font-size: 62.5%;
}
body{
  font-family: 'Noto Sans JP','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  color: $theme-color;
  font-size: $font-size_default;
  line-height: 1;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a{
  text-decoration: none;
  color: $theme-color;
  &:hover{
    cursor: pointer;
  }
}